doctype html
html(ng-app='gameUniv')
  head
    meta(charset='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title GameUniv
    link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')
    link(type='text/css', rel='stylesheet', href='bower_components/Materialize/dist/css/materialize.min.css', media='screen,projection')
    link(type='text/css', rel='stylesheet', href='css/app.css')

    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='js/app.js')
    script(src='js/controllers.js')
    script(src='js/services.js')
    script(src='js/directives.js')
  body
    header
      nav(class='indigo')
        div(class='container nav-wrapper')
          a(href='/', class='brand-logo') GameUniv
          ul(id='nav-mobile', class='right hide-on-med-and-down')
    main
      div(class='container')
        div(ng-view)
    footer(class='page-footer indigo')
      div(class='container row')
        div(class='col s5')
          h5(class='white-text') GameUniv
          p(class='grey-text text-lighten-4') 게임을 사랑하는 이들을 위한 게임 플랫폼
        div(class='col s7')
          h5(class='white-text') GitHub 링크
          ul
            li
              a(class='grey-text text-lighten-4',
                href='https://github.com/shygiants/GameUniv-android') Android
            li
              a(class='grey-text text-lighten-4',
                href='https://github.com/shygiants/GameUniv-back-end') Backend
            li
              a(class='grey-text text-lighten-4',
                href='https://github.com/shygiants/GameUniv-Login-Unity') Unity Android Plugin
      div(class='footer-copyright')
        div(class='container') © 2015 GameUniv, All rights reserved.

    script(type='text/javascript', src='bower_components/Materialize/dist/js/materialize.min.js')
